main {
  min-height: 80vh;
  background-image: url("./Assets/black-felt.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #c5dfda;
  /* background-size: cover; */
}
.cust-nav {
  background-color: #44566b !important;
}
